# Create .env file and Copy this all files and paste into .env

DATABASE_URL="postgresql://neondb_owner:npg_pE8lHvdY6FUt@ep-cool-feather-a1mad0vz-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="eb4eebbe85aa3e67f939b4a2965d5ec2d8743e0fdf6d19510d81df23d7cf6ea0887b46049c5330c6f487e14a6a2724aa4b53f6631517d2d1d7873809b5d51a28"
JWT_EXPIRATION="7d"
PORT="3000"
NODE_ENV="development"